
.vs/CoxToaster/v16/.suo
.vs/CoxToaster/v16/Server/sqlite3/storage.ide
.vs/CoxToaster/v16/Server/sqlite3/storage.ide-shm
.vs/CoxToaster/v16/Server/sqlite3/storage.ide-wal
.vs/CoxToaster/v16/TestStore/0/000-0000.testlog
.vs/CoxToaster/v16/TestStore/0/testlog.manifest
CoxToaster/bin/Debug/netcoreapp3.1/CoxToaster.deps.json
CoxToaster/bin/Debug/netcoreapp3.1/CoxToaster.dll
CoxToaster/bin/Debug/netcoreapp3.1/CoxToaster.exe
CoxToaster/bin/Debug/netcoreapp3.1/CoxToaster.pdb
CoxToaster/bin/Debug/netcoreapp3.1/CoxToaster.runtimeconfig.dev.json
CoxToaster/bin/Debug/netcoreapp3.1/CoxToaster.runtimeconfig.json
CoxToaster/obj/CoxToaster.csproj.nuget.cache
CoxToaster/obj/CoxToaster.csproj.nuget.dgspec.json
CoxToaster/obj/CoxToaster.csproj.nuget.g.props
CoxToaster/obj/CoxToaster.csproj.nuget.g.targets
CoxToaster/obj/Debug/netcoreapp3.1/CoxToaster.AssemblyInfo.cs
CoxToaster/obj/Debug/netcoreapp3.1/CoxToaster.AssemblyInfoInputs.cache
CoxToaster/obj/Debug/netcoreapp3.1/CoxToaster.assets.cache
CoxToaster/obj/Debug/netcoreapp3.1/CoxToaster.csproj.FileListAbsolute.txt
CoxToaster/obj/Debug/netcoreapp3.1/CoxToaster.csprojAssemblyReference.cache
CoxToaster/obj/Debug/netcoreapp3.1/CoxToaster.dll
CoxToaster/obj/Debug/netcoreapp3.1/CoxToaster.exe
CoxToaster/obj/Debug/netcoreapp3.1/CoxToaster.pdb
CoxToaster/obj/project.assets.json
